body {
  max-width: 800px;
  margin: 50px auto;
  background: #f5ca9c;
}

img {
  display: block;
  max-width: 50%;
  align: center;
  border-radius: 4px;
  margin: 50px auto;
}

.croissant-heading,
.contact-heading,
.photo-heading {
  text-align: center;
  margin-top: 50px;
}

.links {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

p,
h3 {
  margin-top: 40px;
  text-align: center;
  padding: 30px;
}
